* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100px;
    padding: 0 30px;
}

.logo-box {
    color: #243949;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.navbar {
    width: 70%;
    padding-top: 1em;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #243949;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

h3 {
    font-size: 1rem;
    font-weight: 150;
}

.bio-container {
    height: 90vh;
    width: auto;

}

.marquee {
    height: 25px;
    width: 420px;
    margin-top: 1em;
    overflow: hidden;
    position: relative;
}

.marquee div {
    display: block;
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation: marquee 10s linear infinite;
}

.marquee h2 {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.main-img {
    margin-top: 4em;
    right: -3em;
    width: 500px;
    height: 430px;
    background-image: url("../img/programmer-4431280.png");
    background-size: cover;
}

.name h1,
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.contact-button {
    margin-top: 2em;
    border: 2px solid white;
    width: 200px;
    height: 40px;
    box-shadow: rgb(239, 240, 242) 0px 20px 30px -10px;
}

.contact-button a,
.download-button a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.about-container {
    background-color: white;
    height: 60vh;
    padding: 3em;
}

.about-title {
    width: 60%;
    color: #243949;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 5px 4px 2px #517fa4;
}

.about-container p {
    color: black;
    font-weight: 1rem;
    margin: 1em;
}

.download-button {
    border: none;
    width: 200px;
    height: 40px;
    box-shadow: rgb(239, 240, 242) 0px 20px 30px -10px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    position: relative;
    left: 1em;
}

.skill-title,
.skill-intro {
    text-align: center;
    margin: 2em 10em;
}

.skills-items {
    height: 40vh;
    padding: 0 15em;
    justify-content: space-evenly;
}

.skill-box {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    box-shadow: rgb(239, 240, 242) 0px 10px 30px -10px;
    font-size: 2.5rem;
    font-weight: bold;
}

.skill-1 {
    color: #dd4b25;
}

.skill-2 {
    color: #046eb6;
}

.skill-3 {
    color: #e8d44d;
}

.skill-4 {
    color: #e61a23;
}

.skill-5 {
    color: #01457c;
}

.skill-6 {
    color: #59b943;
}

.skill-7 {
    color: #230068;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    background-color: white;
    padding: 20px 10px;
    color: #243949;
}

.footer-img{
    width:300px;
    height:80px; 
    background-image: url("../img/social-media-5995266.png");   
    background-size: cover;
    background-position: center;
}

.footer-image1{
    width:50px;
    height:50px;
    background-image: url("../img/email.png");
    background-size: cover;
}
.footer-image2{
    width:50px;
    height:50px;
    background-image: url("../img/telephone.png");
    background-size: cover;
}
.footer-image3{
    width:50px;
    height:50px;
    background-image: url("../img/pin-42871_640.png");
    background-size: cover;
}

footer h2{
    font-family: 'Times New Roman', Times, serif;
    color: #243949;
    font-size: 2rem;
}

.footer-flex-box{
    display: flex;    
    justify-content: space-evenly;    
}

footer a {
    text-decoration: none;
    color: #243949;
    margin: 2px 10px;
}

footer a:hover {
    color: #517fa4;
    border-bottom: 2px solid #243949;
}
.copyright{
    align-self: flex-end;
}
/* contact page style */
.contact-img-container {
    width: 100%;
    background-image: url("../img/contact-us.jpg");
    background-size: cover;
}

.contact-form {
    width: 50%;
    background-color: #243949;
    padding: 4em;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.page-h1 {
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    margin: 2em auto 1em auto;
}

fieldset {
    width: 100%;
    padding-top: 2em;
}

legend {
    color: white;
    font-size: 1.5rem;
}

.contact-form input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
    width: 300px;
    height: 30px;
    margin-bottom: 2em;
}

.contact-form textarea {
    width: 300px;
    height: 80px;
    margin-bottom: 2em;
}

#reachOut_selector {
    width: 300px;
    height: 30px;
    margin-bottom: 2em;
}

input,
select,
textarea {
    border: 2px solid #243949;
}

input:hover,
select:hover,
textarea:hover {
    background-color: #dcd6d3;
}


input[type="radio"] {
    justify-content: space-evenly;
    align-items: left;
}

.radio-label {
    margin-bottom: 1em;
}

input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #243949;
    border-radius: 50%;
    background-color: #243949;
    outline: 2px solid white;
}

input[type="radio"]:checked {
    background-color: white;
    transform: scale(1.2)
}

.contactMe-btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #243949;
    color: #243949;
    margin-bottom: 2em;
}

.contactMe-btn:hover {
    border: 2px solid white;
    background-color: #243949;
    color: white;
}

/* Project page style */
.project-container {

    width: 70%;
    margin: auto;
    padding: 2em;
}

.project-title,
.project-intro {
    text-align: center;
}

.project-container p {
    margin-bottom: 5em;
}


.project-img-1 {

    background-image: url("../img/project1.jpg");
    background-size: cover;
    background-position: center;
}

.project-img-2 {
    background-image: url("../img/project2.jpg");
    background-size: cover;
    background-position: center;
}

.project-img-3 {
    background-image: url("../img/project3.jpg");
    background-size: cover;
    background-position: center;
}

.float-img {
    width: 400px;
    height: 250px;
    color: #243949;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 10%;
    text-align: center;
    font-size: 90px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.5), 7px 7px 20px rgba(0, 0, 0, 0.5);
    /* padding: 10px; */
}

.float-left {
    float: left;
    margin: 0 60px 20px 0;
}

.float-right {
    float: right;
    margin: 0 0 20px 60px;
}

.first-paragraph::first-letter {
    font-size: 6rem;
    color: #fde786;
    float: left;
    margin-right: 1rem;
}

.first-paragraph {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

.project-container h1 {
    font-size: 3rem;
}

.project-container span {
    font-size: 5rem;
    color: #60abde;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-icon {
    width: 20px;
    height: 20px;
    background-image: url("../img/hamburger-icon.png");
    background-size: cover;
}

@media (max-width: 1400px) {
    .flex-box {
        width: 100%
    }

    @media(max-width:1000px) {
        .flex-row {
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    @media (max-width: 768px) {

        nav {
            display: none;
        }

        .menu-icon {
            display: block;
        }

        .contact-button {
            width: 50%;
        }

        .about-container {
            height: 150%;
        }

        .download-button {
            width: 50%;
        }

        .bio-container {
            flex-direction: column-reverse;
            font-size: 50%;
            padding-bottom: 2em;
        }

        .project-title {
            font-size: 2rem;
        }

        .float-img {
            width: 100%;
            font-size: 3rem;
        }
        .footer-flex-box{
            flex-direction: column;
        }
    }
}